@import './interface'
@import './_mixins/breakpoints'



+md-block()
	.header_contacts
		align-items: center
	.commodities_items
		padding: 25px 10px 
	.catalog_item
		&__title
		   font-size: 20px
		&__text
		   font-size: 16px
		&__price
		   font-size: 20px
		&__button
		   padding: 15px 30px
		   font-size: 16px
	.advantages_item
		&__title
		   font-size: 20px
		&__text
		   font-size: 16px
	.commodities_items
		&__title
		   font-size: 20px
		&__price
		   font-size: 20px
		&__button
		   padding: 15px 30px
		   font-size: 16px
	.services_items
		&__title
		   font-size: 20px


+sm-block()
	.header_menu
		display: none 
	.header_submit
		display: none 
	.header_contacts
		&__number
		   font-size: 16px
	.header_desc
		&__title
		   height: 100%
		   display: flex 
		   align-items: center 
		   font-size: 16px
		&__under_title
		   display: none 
	.m-menu-link
		display: flex
		justify-content: flex-end
	.adaptive
		display: block
		margin-bottom: 10px
	.footer_desc
		&__title
		   font-size: 16px
	.footer_contacts
		&__number
		   font-size: 16px

+xs-block()
	.header_contacts
		align-items: flex-end
	.footer_contacts
		&__desc
			text-align: right
			font-size: 8px 
	.header_contacts
		&__desc
		   text-align: center 